/* Đảm bảo body và canvas chiếm toàn bộ màn hình */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;  /* Ẩn thanh cuộn */
    background-color: #000;  /* Màu nền cho trang */
}

canvas {
    display: block;  /* Loại bỏ khoảng cách dưới canvas */
    width: 100%;     /* Chiếm toàn bộ chiều rộng */
    height: 100%;    /* Chiếm toàn bộ chiều cao */
    background-color: transparent; /* Nếu bạn muốn nền trong suốt */
}